@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Lora:ital,wght@0,400;0,500;0,600&display=swap');
@import './highlight.scss';


@import url(https://unicons.iconscout.com/release/v4.0.0/css/line.css);
.uil {
    display: inline-block;
    line-height: 0px;
}

* {
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
    font-family: 'DM Sans', monospace;
}

img {
    object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.contents {
  max-width: 1000px;
  padding: 10px;
  margin: auto;
}

#post {
  margin-top: 120px;

  & > h1, #title, .h1-fake {

      width: 100%;
      padding-bottom: 10px;
        
      color: #545454;
      font-weight: 500;
      font-size: 36px;
      margin-bottom: 35px;
      border: none;
      outline: none;
  }

  #post-contents {
      display: inline-block;
      margin-left: 20px;
      width: calc(100% - 70px);
      font-size: 22px;
      color: #545454;
      margin-top: -7px;
      vertical-align: top;
      div {
          margin-top: 20px;
          margin-bottom: 20px;
      }

      p {
          line-height: 31px;
      }


      a:link{
          color: #3EE1CE;
      }

      img {
          max-width: 100%;
          border-radius: 10px;
          user-select: none;
          border: #89898932 solid 2px;
          box-shadow: 0px 0px 17px 0px #00000008;
      }

      iframe {
          max-width: 100%;
          border-radius: 10px;
      }
  }

  #post-banner {
      width: 100%;
      border-radius: 15px;
      margin-bottom: 40px;
  }

  #action-button {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    width: 45px;
    color: #767676;
    .action-button {
        cursor: pointer;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        transition: 0.1s;
        i {
            margin: auto;
            font-size: 31px;
            padding: 5px;
        }
        span {
            display: block;
            margin: auto;
            text-align: center;
            font-size: 18px;
            margin-top: 0px;
        }
        margin-bottom: 10px;
        &:hover {
            i {
                background: #00000006;
                border-radius: 110px;
            }
        }

        &.liked {
            color: #FF4343;
            &:hover {
                i {
                    background: #FF434311;
                }
            }
        }

        &.comments:hover {
            color: #3EE1CE;
            i {
                background: #3EE1CE11;
            }
        }
    
    }
  }

  #categories {
    padding-left: 63px;
  }
  .category {
    padding: 3px 12px;
    background: #131313;
    color: #FFF;
    display: inline-block;
    font-size: 18px;
    border-radius: 6px;
    cursor: default;
    text-decoration: none;
    margin-bottom: 6px;

    margin-right: 10px;

    span {
        vertical-align: middle;
    }

    svg {
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
        color: #FFF;

        width:  16px;
        height: 16px;
    }

    .remove {
        display: none;
        cursor: pointer;
    }

    &:hover {
        .remove {
            display: inline-block;
        }
    }
    &:link {
        cursor: pointer;
    }
  }
  
  .user {
      padding: 5px;
      margin: -5px;
      margin-bottom: 10px;
      display: block;
      text-decoration: none;
      color: #434343;
      border-radius: 10px;
      .profile-pic {
          border: #dddddd solid 3px;
          border-radius: 50%;
          width:  42px;
          height: 42px;
          margin: 0px 2px;
          vertical-align: middle;
      }

      span {
          vertical-align: middle;
          font-size: 23px;
          margin-left: 16px;
          font-weight: 500;
      }
      &:hover {
          background: #00000008;
      }
  }

  .date {
      font-weight: 500;
      float: right;
      font-size: 20px;
      color: #a5a5a5;
      padding-right: 20px;
      padding-top: 8px;
      padding-bottom: 7px;
  }
}

.big-action-button {
    border: #3EE1CE 2px solid;
    color: #3EE1CE;
    font-size: 19px;
    font-weight: 500;
    border-radius: 6px;
    padding: 7px 20px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    &:hover, &.selected, &.fill {
        background: #3EE1CE;
        color: #FFF;
    }
}

.button {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    background: #3EE1CE;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    border-radius: 7px;
    text-decoration: none;
    &.danger {
        background: #ff3f3f;
    }
}


.markdown-contents {
    h1, h2, h3, h4, h5, h6 {
        color: #4d4d4d;
        font-family: "DM Sans";
        font-weight: 600;
        letter-spacing: -0.6px;
    }
    h1 {
        margin: 60px 0px 10px 0px; 
        font-size: 33px !important;
    }
    h1:first-child {
        margin-top: 0px;
    }
    h2 {
        color: #5c5c5c;
        margin: 20px 0px 20px 0px; 
        font-size: 29px !important;
    }
    hr {
        border: 1px solid #DDD;
        border-radius: 10px;
    }
    img {
        display: block;
        margin: 40px 0px;
    }
    p {
        letter-spacing: -0.3px;
    }
    code {
        background: #00000011;
        padding: 0px 7px;
        border-radius: 5px;
    }
    pre code {
        background: transparent;
        padding: 0px;
        border-radius: 0px;
    }
    

    pre {
        padding: 14px;
        background: #262b39;
        color: #FFF;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 17px;
        overflow: auto;
        &, * {
        font-family: 'DM Mono';
        font-weight: 400;
        }
    }

    blockquote {
        border-left: 3px solid #383838BB;
        padding: 8px;
        padding-left: 21px;
        margin: 27px 0px;
        p {
            font-family: "Lora";
            font-weight: 600;

            font-style: italic;
        }
    }
    ul, ol {
        padding-left: 24px;
        margin: 20px 0px;
        li {
            margin-bottom: 3px;
            &::marker {
                font-family: 'DM Mono';
            }
        }
    }
    
    ol {
        padding-left: 40px;
    }
    a, a:visited {
        color: #3EE1CE;
            text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: rgb(141, 141, 141);
    margin-bottom: 8px;
}

.input {
    padding: 4px 9px;
    display: block;
    width: 100%;
    font-size: 19px;
    border-radius: 9px;
    font-weight: 400;
    color: #434343;
    border: solid 2px rgb(219, 219, 219);
    outline: none;
    &:focus {
        border-color: #3EE1CE;
    }
}

.verified-badge {
    display: inline;
    color: #3EE1CE;

    &:hover::after {
        content: "Verified";
        font-style: normal;
        font-size: 15px;
        background: #3d3d3d;
        border-radius: 6px;
        padding: 2px 4px;
        color: #FFF;
        margin-left: 5px;
        vertical-align: middle;
    }
}

.post-list {
    &>div {
        width: calc(50% - 10px);
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
    }
}

::-moz-selection, ::selection {
    background: #3EE1CE33;
}

#category-top {
    height: 160px;
    background: url(../img/homebg.svg);
    background-size: cover;
    background-position: center;
    padding-top: 60px;

    h1 {
        text-align: left;
        font-size: 60px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    #categories {
        width: fit-content;
        float: right;
        margin-top: 25px;

        a {
            text-decoration: none;
            color: #FFF;
            background: #121212;
            margin: 5px;
            padding: 3px 18px;
            border-radius: 6px;
            font-size: 27px;
        }
    }
}

@media screen and (max-width: 720px) {
    .post-list {
        &>div {
            display: block;
            width: 100%;
        }
    }
    #post {
        #action-button {
            display: block;
            width: 100%;
            color: #767676;
            margin-top: 20px;
            .action-button {
                display: inline-block;
                margin-bottom: 0px;
                i {
                    display: inline-block;
                    vertical-align: middle;
                }
                span {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 3px;
                    font-size: 18px;
                    margin-right: 15px;
                }
            }
        }
        #post-contents {
            display: block;
            margin-left: 0px;
            padding: 10px;
            width: 100%;
        }
        #categories {
          padding-left: 10px;
        }
    }
}